/* Smooth ancre scroll not compatible with Safari */
/* Without javascript, no known way to implement smooth ancre scrolling for Safari */
html {
	scroll-behavior: smooth;

	/* To solve weird scroll bar bug when mac on external display*/
	overflow-x: hidden;
}

body
{
  margin: 0;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	color: #1c1c1e;
}

#landing-screen-img
{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

#id-card
{
  position: absolute;
  top: 25%;
  left: 10%;

	width: max-content;

  padding: 5px;
  border-radius: 5px;
  background-color: white;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%);
}

#id-card-img
{
	width: max-content;
  display: block;
  margin: 0 auto 0 auto;
	padding: 1rem 3rem 0 3rem;
}

#id-card-img > img
{
	width: 14rem;
  border-radius: 50%;
	border: 2px solid #007aff;
}

#id-card-text
{
	width: max-content;
	padding: 1rem 3rem 1rem 3rem;
  margin: 0 auto 0 auto;
}

.text-link, .text-link:visited
{
	color: #007aff;
	text-decoration: none;
}

#learn-more
{
  position: absolute;
  bottom: 0%;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
	width: 100%;
  padding: 5px;

	animation: float 6s ease-in-out infinite;
}

#learn-more > div /*TODO: Ugly, change this div in div centering*/
{
	margin: 0 auto 0 auto;
	width: max-content;
}

#learn-more > div > a, #learn-more > div > a:visited
{
	text-decoration: none;
	color: #c7c7cc;
}

.chevron
{
	border-style: solid;
	border-width: 0.2em 0.2em 0 0;
	content: '';
	display: inline-block;
	height: 1.5em;
	top: 0;
	transform: rotate(135deg);
	width: 1.5em;
	color: #c7c7cc;
}

#content
{
	margin: 0 7rem 0 7rem;
}

#summary
{
  text-align: center;
}

.summary-link, .summary-link:visited
{
	text-decoration: none;
	color: #1c1c1e;
}

.summary-link:hover
{
	text-decoration: none;
	color: #c7c7cc;
}

#citation-name
{
	text-align: right;
}

.description
{
	text-align: justify;
	float: left;
}

.card-container
{
	display: flex;
  flex-wrap: wrap;
}

.card
{
	margin: 1rem;
	border-radius: 10px;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%);
	flex: 1 1 40%;
	width: 50%;
}

.card > img
{
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.card-text
{
	margin: 0rem 1rem 1rem 1rem;
}

.card-title > h3
{
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;

	display: inline-block;
	float: left;
}

.card-title > span
{
	margin-block-start: 1.60em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;

	font-size: 0.80rem;
	font-weight: bold;
	color: #c7c7cc;
	float: right;
}

a.card, a.card:visited
{
	text-decoration: none;
	color: #1c1c1e;
	transition: transform .5s;
}

a.card:hover
{
	transform: scale(1.02);
}

@keyframes float
{
	0%
	{
		transform: translatey(0px);
	}
	50%
	{
		transform: translatey(-20px);
	}
	100%
	{
		transform: translatey(0px);
	}
}

@media only screen and (min-device-width: 375px)
									 and (max-device-width: 850px)
									 and (-webkit-min-device-pixel-ratio: 3)
								   and (orientation: portrait)
{
	#content
	{
		margin: 0 3rem 0 3rem;
	}

	.card
	{
		flex: 1 1 100%;
		width: 100%;
	}
}

@media only screen and (max-width: 850px)
{
	#content
	{
		margin: 0 3rem 0 3rem;
	}

	.card
	{
		flex: 1 1 100%;
		width: 100%;
	}
}

@media only screen and (min-width: 1000px)
{
	#content
	{
		margin: 0 10rem 0 10rem;
	}
}

@media only screen and (min-width: 1500px)
{
	#content
	{
		margin: 0 20rem 0 20rem;
	}
}

@media only screen and (min-width: 1500px)
									 and (-webkit-min-device-pixel-ratio: 3)
{
	#content
	{
		margin: 0 30rem 0 30rem;
	}
}
